  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>E-shop</title>
  </head>
  <body>
      <div id="app">
        <header class="header">
          <div class="search">
            <input
              class="search__text"
              type="text"
              v-model="searchLine"
            >
            <button class="search__btn" @click="filterGoods">Search</button>
          </div>
          <button class="header-btn" @click="showCart">Корзина</button>
          <div v-show="isVisibleCart" class="cart">
            <div class="cart__item" v-for="item in cart">
              <h4><b>Name: </b>{{ item.product_name }}</h4>
              <p><b>Price: </b>{{ item.price }}&#36;</p>
              <p><b>Quantity: </b>{{ item.quantity }}</p>
            </div>
          </div>
        </header>
        <main class="main">
          <div v-if="checkGoodsListData" class="goods-list">
            <div class="goods-item" v-for="item in filteredGoods">
              <h3><b>Name: </b>{{ item.product_name }}</h3>
              <p><b>Price: </b>{{ item.price }}&#36;</p>
              <button class="header-btn header-btn_small">Buy</button>
              <button class="header-btn header-btn_small">Remove</button>
            </div>
          </div>
          <div v-else class="goods-list goods-list_empty">{{ emptyGoodsListMessage }}</div>
          <div class="total-price">{{ totalPrice }}&#36;</div>
        </main>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
