  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>E-shop</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="search">
          <search-text v-model="searchLine"></search-text>
          <search-btn @filter-goods="filterGoods"></search-btn>
        </div>
        <header-btn @show-cart="showCart"></header-btn>
        <div v-show="isVisibleCart" class="cart">
          <cart-item
            v-for="item in cart"
            :key="item.id_product"
            :item="item"
          ></cart-item>
          <empty-cart v-if="!checkCartLength"></empty-cart>
        </div>
      </header>
      <main class="main">
        <div v-if="checkGoodsListLength" class="goods-list">
          <goods-item
            v-for="item in filteredGoods"
            :key="item.id_product"
            :id="item.id_product"
            :item="item"
            @add-to-cart="addToCart"
            @remove-from-cart="removeFromCart"
          ></goods-item>
        </div>
        <empty-goods-list v-else></empty-goods-list>
        <total-price :total-price="totalPrice"></total-price>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
