body {
  background: #6B8FD4;
  margin: 0;
}

hr {
  color: #fff;
  width: 90%;
}

.header {
  padding: 1em;
  background: #FFDC40;
  box-shadow: 0 3px 12px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-button {
  background: #05296E;
  border: none;
  padding: .2em 1em;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
  line-height: 2em;
  cursor: pointer;
  transition: background-color .3s ease;
}

.cart-button:hover {
  color: #000;
  background: #6B8FD4;
}

.cart-button:active {
	background: #BF6E30;
}

.btns-wrp {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  box-shadow: 0 3px 12px 5px;
}

.fetch-btn {
  border: none;
  padding: 1em;
  border-radius: 8px;
  background: #FFDC40;
  cursor: pointer;
  transition: background-color .3s ease;
}

.fetch-btn:hover {
  background: #A64800;
  color: #fff;
}

.goods-item {
  width: 23%;
  border: 2px solid #A64800;
  padding: 1em;
  box-sizing: border-box;
  margin: 1%;
  background: #FF6F00;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
  box-shadow: 0px 0px 6px 3px;
  margin: 2em 1em;
}

.total-price {
  width: 100%;
  padding: 1em;
  text-align: center;
  background: #A64800;
  color: #fff;
  font-size: x-large;
  margin: 1%;
}

@media screen and (max-width: 768px) {
  .goods-item {
    width: 48%;
    margin: 1%;
  }
}
