body{
    margin: 0 auto;;
    padding:100px;
    width: 980px;
}
.contact-form {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 auto;

}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/* .contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
    background-color: gray;
    color: white;
    border-color: white;
} */

.contact-form textarea {
    width: 500px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contact-form input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    color: #031833;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}

/* .contact-form input[type="submit"]:hover {
    background-color: gray;
    color: white;
}

.contact-form input[type="submit"]:active {
    background-color: #ffffff;
    color: #445162;
} */