.cart-button{

}
header{
    height: 40px;
}
.cart-button{
    border-radius: 20px;
    background-color: #111;
    color: #ccc;
    float: right;
}
.cart-button:focus{
    color: #111;
    background-color: #fff;
    border-radius: 20px;
}

.goods-item{
    float: left;
    width: 24%;
    text-align: center;
    border: 1px solid #ccc
}
