body {
    width: 720px;
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: grey;
    display: flex;
    justify-content: flex-end;
}

.cart-button {
    width: 15%;
    min-height: 40px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-button:active {
    outline: none;
}

.cart-button:focus {
    outline: none;
}

/* main */

main {
    width: 100%;
    margin: 0;
    padding: 0;
} 

/* product */

.goods-list {
    width: 100%;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.goods-item {
    width: 20%;
    min-height: auto;
    margin: 0;
    padding: 0;
    background-color: grey;

}

h3 {
    text-align: center;
}

p {
    text-align: center; 
}