<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="../Project/style.css">
</head>

<body>
    <div class="Container">
        <div id="app">
            <header class="header-page">
                <input type="text" class="search" v-model="searchText">
                <button class="search-button" type="button" @click="filterGoods">Искать</button>
                <button class="cart-button" type="button" @click="toggleCartVisibility">Корзина</button>
            </header>
            <main class="main-page">
                <div class="goods-list">
                    <div class="goods-item" v-for="good in filteredGoods">
                        <h3>{{ good.product_name }}</h3>
                        <p>{{ good.price }}</p>
                    </div>
                </div>
            </main>
            <div class="cart-list" v-if="isVisibleCart">
                <div class="cart-item" v-for="cartItem in cart.items">
                    <h3>{{cartItem.item.product_name}}</h3>
                    <p>{{cartItem.item.price}}</p>
                    <button class="cart-count-button" type="button">-</button>
                    <p>{{cartItem.count}}</p><button class="cart-count-button" type="button">+</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="../Project/script.js"></script>
</body>

</html>