.Container {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header-page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid;
    min-height: 80px;
    background-color: darkslateblue;
}
.cart-button {
    display: block;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 0 20px 0 0;
    background-color: snow;
}
.main-page {
    box-sizing: border-box;
    border: 1px solid;
}
.goods-list {
    box-sizing: border-box;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    background-color: darkgray;
}
.goods-item {
    box-sizing: border-box;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    min-height: 350px;
    padding: 10px;
    background-color: yellow;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.item-img {
    box-sizing: border-box;
    border: 1px solid;
    width: 300px;
    min-height: 150px;
}
h3 {
    box-sizing: border-box;
    border: 1px solid;
    text-align: center;
    width: 100%;
    line-height: 2;
}
p {
    box-sizing: border-box;
    border: 1px solid;
    text-align: center;
    width: 100%;
    line-height: 2;
}
button {
    display: block;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: snow;
    outline: none;
}
button:hover {
    background-color: lightslategray;
}