
.cart-button:hover {
    color: yellow;
}
.goods-list {
  display: flex;
     justify-content: space-between;
     
}

.card-product {
    width: 100px;
    height: 100px;
    border: 1px solid;
    
   
}