form {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.telErr {
    width: 100%;
    color: red;
}

.nameErr {
    width: 100%;
    color: red;
}

.emailErr {
    width: 100%;
    color: red;
}

.red-border {
    border: 1px solid red;
}

.hidden {
    display: none;
}