body {
    margin: 0 auto;
    width: 1280px;
    font-family: Arial;
}

header {
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
}

.cart-button {
    width: 120px;
    height: 30px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
}

.cart-button:hover {
    background-color: #ccc;
}

.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.goods-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    display: block;
    width: 100%;
    text-align: center;
}

.goods-item-img {
    width: 270px;
    min-height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

p {
    display: block;
    width: 100%;
    text-align: center;
}