




    

main {
	display: block;
    padding-top: 10px;
    padding-bottom: 10px; 
	background-color: #F8F8FF;
	
    
}

.email-text {
	display: block;
}

.name{
	display: block;
}

.phone{
	display: block;
}

.email{
	display: block;
}




