<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <header>
            <v-search></v-search>
            <!--<input type="text" class="goods-search" v-model="searchLine"/>
            <button class="search-button" type="button" v-on:click="filterGoods">Искать</button> -->
            
            <button class="cart-button" type="button" v-on:click="toggleBasketVisible">Корзина</button>
            <div class="basket" v-if="isBasketVisible">
                <div class="basket-item" v-for="basketItem in basket">
                    <h4>{{ basketItem.product_name }}</h4>
                    <p>{{ basketItem.price }}</p>
                    <button v-on:click="removeFromBasket(basketItem.id_product)">Удалить</button>
                </div>
            </div>
        </header>
        <main>
            <div class="goods-list">
                <div class="goods-item" v-for="item in filteredGoods">
                    <h3>{{ item.product_name }}</h3>
                    <div class="goods-item-img"></div>
                    <p>{{ item.price }}</p>
                    <button class="cart-button" type="button" v-on:click="addToBasket(item)">Добавить</button>
                </div>
                <p v-if="!filteredGoods.length">Нет данных</p>
            </div>
            <span class="total">{{ countSum }}</span>
        </main>
        <v-footer></v-footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="scripts/script.js"></script>
</body>
</html>