body {
    background-color: #fff;
    margin: 0 auto;
}

header {
    background-color: rgb(218, 217, 216);
    min-height: 100px;
    padding: 20px 70px;
    box-sizing: border-box;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    color: red;
    font-size: 26px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart-button {
    width: 15%;
    min-height: 30px;
    border-radius: 5px;
    border: 2px solid #000;
}

button:hover {
    background-color: coral;
    border: 2px solid red;
}

button:active {
    background-color: crimson;
    color: bisque;
}

.goods-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.goods-item {
    height: 200px;
    width: 250px;
    text-align: center;
    background-color: #ccc;
}
button {
background-color: rgb(216, 149, 149);
}